%title-64 {
  font-size: 64px;
  line-height: 140%;

  // @media (max-width: 565px) {
  //   font-size: 36px;
  //   line-height: 48px;
  // }
}
%title-60 {
  font-size: 60px;
  line-height: 140%;

  // @media (max-width: 565px) {
  //   font-size: 36px;
  //   line-height: 48px;
  // }
}
%title-50 {
  font-size: 50px;
  font-weight: 800;
  line-height: 140%;
  // @media (max-width: 565px) {
  //   font-size: 32px;
  // }
}
%title-48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  // @media (max-width: 565px) {
  //   font-size: 32px;
  // }
}
%title-40 {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  margin: 0 auto;
  text-align: center;

}

%title-36 {
  font-size: 36px;
  line-height: 140%;

  // @media (max-width: 565px) {
  //   font-size: 24px;
  // }
}
%title-32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}
%title-30 {
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}

%title-28 {
  font-size: 28;
  line-height: 140%;
}
%title-24 {
  font-size: 24px;
  line-height: 140%;
}
%title-22 {
  font-size: 22px;
  line-height: 140%;
}
%title-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

%title-18 {
  font-size: 18px;
  line-height: 140%;
}
%title-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

%title-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
%title-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}
