.demicare__introduction {
    width: 100%;
    max-width: 1352px;
    padding: 82px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 56px;
    margin-bottom: 120px;
    // background: yellow;

    &__card1 {
        &__title {
            @extend %title-48;
            font-weight: 500;
            margin-bottom: 8px;
        }
        &__subtitle {
            @extend %title-24;
            font-weight: 400;
            margin-bottom: 24px;
        }

        &__button {
            @extend %primary-button-corner;
            font-family: var(--font-playfair-display);
            &::before {
                background: #282828;
            }
        }
    }

    & > img {
        width: 100%;
        height: auto;
    }

    @media (max-width: $phone) {
        flex-direction: column;
        gap: 24px;
        padding: 48px 16px;
        margin-bottom: 48px;

        &__card1 {
            &__title {
                font-size: 28px;
            }

            &__subtitle {
                font-size: 16px;
            }
        }
    }
}