.demicare__introduction {
    width: 100%;
    max-width: 1352px;
    padding: 82px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 56px;
    margin-bottom: 120px;
    // background: yellow;

    &__card1 {
        &__title {
            @extend %title-48;
            font-weight: 500;
            margin-bottom: 8px;
        }
        &__subtitle {
            @extend %title-24;
            font-weight: 400;
            margin-bottom: 24px;
        }

        &__button {
            @extend %primary-button;
            background: #282828;
            color: #fff;
            font-family: var(--font-playfair-display);
        }
    }

    & > img {
        width: 100%;
        height: auto;
    }
}