.demicare__track-progress {
    position: relative;
    width: 100%;
    background: #e8ab9b;
    overflow: hidden;

    &__phone {
        position: absolute;
        height: auto;

        & > img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__scroll {
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 0 0 4% 4%;
        z-index: 1;
        background: #fff;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__scroll-inner {
        position: relative;
        width: 100%;
        overflow: hidden;

        & > img {
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
