.demicare__hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 49.03vw;
    padding-top: 88px;

    &__back {
        display: inline-block;
        line-height: 0;
        margin-bottom: 42px;
    }

  &__inner {
    width: 100%;
    max-width: 1352px;
    padding: 0 20px;
    margin: 0 auto;

    &__title {
        @extend %title-48;
        font-weight: 600;
        margin-bottom: 12px;
        width: 100%;
        max-width: 22.5ch
    }
    &__subtitle {
        @extend %title-22;
        font-weight: 500;
        margin-bottom: 16px;
        width: 100%;
        max-width: 52ch
    }

    & > a:not(.demicare__hero__back) {
        @extend %primary-button;
        font-family: var(--font-playfair-display);
        margin-bottom: 32px;
    }

  }

    @media (max-width: $phone) {
        height: auto;
        padding-top: 100px;
        padding-bottom: 48px;

        &__back {
            margin-bottom: 24px;
        }

        &__inner {
            padding: 0 16px;

            &__title {
                font-size: 28px;
                max-width: 100%;
            }

            &__subtitle {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }
}