.design-process {
    width: 100%;
    background: #282828;
    padding: 82px 0;


    &__inner {
        width: 100%;
        max-width: 1352px;
        padding: 0 20px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1.546fr;
        gap: 39px;
        // background: yellow;

        &__image {
            position: relative;
            width: 100%;
            height: 100%;
            // background: pink;


            // & > img {

            // }
        }

        &__card {
            height: fit-content;
            // background: blue;
            &__title {
                @extend %title-48;
            font-weight: 500;
            margin-bottom: 16px;
            }
            &__subtitle {
                @extend %title-22;
                margin-bottom: 24px;
            }

            & > button {
                @extend %primary-button-corner;
                font-family: var(--font-playfair-display);
            }
        }

    }

    @media (max-width: $phone) {
        padding: 48px 0;

        &__inner {
            grid-template-columns: 1fr;
            gap: 24px;
            padding: 0 16px;

            &__image {
                aspect-ratio: 3 / 2;
                height: auto;
            }

            &__card {
                &__title {
                    font-size: 28px;
                }

                &__subtitle {
                    font-size: 16px;
                }
            }
        }
    }
}