.home__design-tools {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
    padding: 82px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__card1 {
        @extend %title-64;
        width: 100%;
        max-width: 8ch;
        font-weight: 600;
        text-align: right;
    }

    &__card2 {
        display: flex;
        flex-direction: column;
        gap: 140px;
        &__card {
            width: 100%;
            max-width: 660px;
            padding: 32px;
            border-radius: 15px;
            box-shadow: 0px 2px 12px 0px #D021C51A;

box-shadow: 0px -2px 12px 0px #D021C51A;
display: flex;
align-items: center;
gap: 24px;
background: #1A1A1A;

&__title {
    @extend %title-24;
    font-weight: 600;
    margin-bottom: 8px;
}
&__subtitle {
   color: #737373;
   font-weight: 500;
}

        }
    }

   
}