.footer {
    margin-top: 186px;
    background: #282828;
    overflow: hidden;

    &__inner {
        position: relative;
        width: 100%;
        max-width: 1352px;
        margin: 0 auto;
        padding: 82px 20px 0 20px;
        
        &__title-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #181818;
            margin-bottom: 42px;

            &__social-group {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }

        &__group {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title {
                @extend %title-48;
                font-weight: 500;
                margin-bottom: 8px;
            }

            &__button {
                @extend %primary-button;
                font-family: var(--font-playfair-display);
                margin-bottom: 74px;
                padding: 0 22px;
            }

        &__links {
            @extend %title-24;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: #737373;
        }
        }
        

        &__bg {
            color: transparent;
            -webkit-text-stroke: 2px #1C1C1C;
            text-stroke: 2px #1C1C1C;
            font-size: 168px;
            font-weight: bold;
            // margin: 20px 0;
            width: 100%;
            white-space: nowrap;
            font-family: var(--font-playfair-display);
            opacity: 0.2;
            overflow: hidden;
            cursor: pointer;
    
            & > span {
                display: inline-block;
                white-space: nowrap;
            }
    
            .marquee-text {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }

}