.header {
  background: #1A1A1A;
  width: 100%;
  font-family: var(--font-playfair-display);
 &__inner {
  width: 100%;
  max-width: 1352px;
  padding: 0 20px;
  margin: 0 auto;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > nav {
    display: flex;
    align-items: center;

    & > a,
    & > .header__contact {
      @extend %primary-button;
      margin-left: 12px;
      height: 40px;
      font-family: var(--font-playfair-display);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    & > button {
      @extend %primary-button;
      margin-left: 12px;
      height: 40px;
      font-family: var(--font-playfair-display);
    }
  }

  &__links {
    @extend %title-18;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 20px;

    &__item {
      color: #737373;
      text-decoration: none;
      transition: color 0.25s ease;

      &--active {
        color: #fff;
      }
    }

    a:hover {
      color: #fff;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

 
 }

  @media (max-width: $phone) {
    &__inner {
      padding: 0 16px;

      &__links {
        display: none;
      }
    }
  }
}
