.home__hideout {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
    padding: 82px 20px;

    display: grid;
    grid-template-columns: 2.22fr 1fr;
    align-items: center;

    & > img {
        width: 100%;
        height: auto;
    }
}